* {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
    background-color: #e6e6ff;
}
.hero {
    width: 90%;
    margin: auto;
}
.navbar {
    margin: -1px auto;
    display: flex;
    align-items: center;
}
.navbar img {
    width: 100px;
}
ul {
    flex: 1;
    text-align: right;
}
ul li {
    display: inline-block;
    list-style: none;
    margin: 0 25px;
}
ul li a {
    text-decoration: none;
    color: #9999ff;
    padding: 0 1px;
    position: relative;
}
ul li a::after {
    content: '';
    width: 0;
    height: 5px;
    background: #9999ff;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -40px;
    transition: 0.5s;
}
ul li a:hover::after {
    width: 100%;
}
.navbar-icons img {
    height: 20px;
    width: 18px;
    margin-left: 40px;
    cursor: pointer;
}
.navbar-icons {
    margin-left: 30px;
}
.banner {
    display: flex;
    margin-top: 80px;
}
.left-column, .right-column {
    flex-basis: 50%;
}
.right-column img {
    width: 80%;
}
.search-box {
    width: 45%;
    display: flex;
    padding-bottom: 3px;
    border-bottom: 1px solid #8080ff;
    margin: 10px 0 30px;
}
.search-box img{
    height: 25px;
    width: 25px;
    cursor: pointer;
}
.search-box input {
    width: 100%;
    margin-left: 15px;
    font-size: 17px;
    border: 0;
    outline: none;
}
.left-column h1 {
    color: #8080ff;
    font-size: 70px;
}
.left-column h4 {
    color: #b3b3ff;
    font-size: 20px;
    margin: 10px;
}
span {
    color: #8080ff;
}
.btn button {
    padding: 7px 30px;
    margin-right: 15px;
    outline: none;
    border: 1px solid #b3b3ff;
    border-radius: 20px;
    cursor: pointer;
    color: #b3b3ff;
    background: transparent;
}
.btn .primary-btn {
    background: linear-gradient(#b3b3ff, #8080ff);
    box-shadow: 0 2px 15px rgba(112, 38, 248, 0.26);
    color: white;
}
.btn{
    margin-bottom: -120px;
}
.social-icons {
    width: 200px;
    text-align: center;
    opacity: .4;
    position: relative;
    margin: 160px;
}
.social-icons img {
    height: 20px;
    margin: 0 10px;
}
.social-icons::after {
    content: '';
    width: 150px;
    height: 1px;
    background: black;
    position: absolute;
    left: -160px;
    top: 10px;
}