*{
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}
.hero {
    height: 100vh;
    background-image: url(FSM.png);
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    position: relative;
}
.nav-bar {
    display: flex;
    padding: 20px 50px;
}
.nav-logo img {
    width: 150px;
}
.nav-links {
    flex: 1;
}
.nav-links ul {
    margin-left: 50px;
    display: inline;
}
.nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 25px;
}
.nav-links ul a {
    color:brown;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after {
    content: '';
    width: 0;
    height: 2px;
    background: coral;
    display: block;
    margin: auto;
    transition: .5s;
}
.nav-links ul li:hover::after {
    width: 100%;

}
.btn {
    padding: 10px 20px;
    margin-right: 15px;
    border: 0;
    background: blanchedalmond;
    border: 1px solid peru;
    border-radius: 20px;
    color: brown;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0 2px rgba(247, 110, 46, 0.26);
}
.nav-links .btn {
    float: right;
}
.banner-title {
    margin: 80px 130px;
    color: maroon;
}
.banner-title h1 {
    font-family: sans-serif;
    font-size: 64px;
    margin-bottom: 30px;
}
.banner-title h1 span {
    font-size: 80px;
    color: burlywood;
}
.vertical-bar {
    height: 100%;
    background: burlywood;
    top: 0;
    left: 0;
    position: absolute;
}
.search-icon {
    height: 60%;
    width: 80px;
}
.search-icon .fa{
    margin: 45px 23px;
    display: block;
    color: brown;
    font-size: 30px;
    cursor: pointer;
}
.social-icon {
    height: 35%;
    width: 80px;
    background: navajowhite;
    text-align: center;
    padding-top: 27%;
    bottom: 0;
    position: absolute;
}
.social-icon .fa {
    margin: 15px 23px;
    display: block;
    padding: 8px;
    border: 1px solid saddlebrown;
    border-radius: 50%;
    cursor: pointer;
}
.nav-bar .fa {
    display: none;
}
@media (max-width: 700px) {
    .vertical-bar {
        display: none;
    }
    .banner-title {
        margin: 80px 40px;
    }
    .banner-title h1 {
        font-size: 50px;
    }
    .nav-bar {
        padding: 4px 10px;
    }
    .fa-bars {
        position: absolute;
        right: 20px;
        top: 10px;
    }
    .nav-bar .fa {
        display: block;
        color: brown;
        margin: 10px 25px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links {
        height: 100vh;
        width: 200px;
        background: burlywood;
        top: o;
        right: -200px;
        position: absolute;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul a {
        display: block;
    }
    .nav-links .btn {
        float: none;
        margin-left: 25px;
        margin-top: 10px;
    }
}

/* Style for sign up page */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(pizza.jpg);
    background-size: cover;
}
.box {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 40px;
    transform: translate(-50%,-50%);
    width: 400px;
    background: rgba(0,0,0,.8);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2 {
    margin: 0-0 30px;
    padding: 0;
    color: burlywood;
    text-align: center;
}
.box .inputBox {
    position: relative;   
}
.box .inputBox input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid wheat;
    outline: none;
    background: transparent;
}
.box .inputBox label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: wheat;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label {
    top: -25px;
    left: 0;
    color: orange;
    font-size: 12px;
}
.box input[type="submit"] {
    background: transparent;
    border: none;
    outline: none;
    color: chocolate;
    background: wheat;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}
.button {
    background: transparent;
    border: none;
    outline: none;
    color: chocolate;
    background: wheat;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}